<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">

  <test verbose="2" name="Chrome test">
  <parameter name = "browser" value ="Chrome" />
    <classes>
      <class name="AtheneUSA.SeleniumwithMavenProject.AppTest"/>
    </classes>
  </test> <!-- Default test -->
  
  
  
  <test verbose="2" name="IE test">
  <parameter name = "browser" value ="IE" />
    <classes>
      <class name="AtheneUSA.SeleniumwithMavenProject.AppTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
            